@using Microsoft.AspNetCore.Identity;
@using LoveYouALatte_Authentication.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MenuViewModel

@{
    var products = Model.Products.GroupBy(x => new { x.ProductId, x.DrinkId, x.SizeId, x.Price, x.DrinkName, x.DrinkDescription, x.SizeName });

}


<h1>Add Product: </h1>


<P>@ViewBag.ErrorMessage</P>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Drink Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price Small</th>
                <th scope="col">Price Medium</th>
                <th scope="col">Price Large</th>
                <th scope="col">Button</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="drinkName" name="drinkName" value=""></td>

                <td><input type="text" id="drinkDescription" name="drinkDescription" value=""><br></td>

                <td><input type="text" id="priceSmall" name="priceSmall" value=""><br></td>

                <td><input type="text" id="priceMedium" name="priceMedium" value=""><br></td>

                <td><input type="text" id="priceLarge" name="priceLarge" value=""><br></td>

                <td>
                    <form action="" method="post">
                        <input type="submit" value="Add" name="Add" class=" btn btn-orange" asp-controller="Employee"
                               asp-action="AddMenuItem" />
                    </form>
                </td>

            </tr>


        </tbody>
    </table>
</div>

