@model UserInfo
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
@{
    ViewData["Title"] = "Employee Home";
}

<h1>Employee View</h1>

<br />
<br />
<br />
<h2 class="text-success">Welcome @Model.firstName @Model.lastName,</h2>
<br />
<br />
<br />

<h2>Employee Actions</h2>

<ul>
    <li>
        Add Menu Item
    </li>
    <li>
        Update Menu Item
    </li>
</ul>
