@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h1>
    Welcome to the employee menu management view
</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">SKU / ID</th>
                <th scope="col">drink Name</th>
                <th scope="col">description</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @*@foreach (var cartItem in Model.Carts) for each product item in products table
            {*@
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-orange">Action button</button>
                    </td>
                </tr>
            @*}*@
        </tbody>
    </table>
</div>