@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


@{
    ViewData["Title"] = "Love You a Latte";
}

<div class="d-flex justify-content-md-center align-items-center vh-100" style="height: 93vh !important;">
    <h1>@ViewData["Title"]</h1>
</div>



    <h1><a asp-controller="Home" asp-action="EmployeeLogin">Employee Login</a> </h1>
    <h1><a asp-controller="Home" asp-action="EmployeeContent">Employee Content</a> </h1>
