@model ProductTable
@{
    ViewData["Title"] = "Menu";
    var products = Model.ProductsList.GroupBy(x => new { x.ProductId, x.DrinkId, x.SizeId, x.Price});

}
<h1>@ViewData["Title"]</h1>

<div class="card-group">
    @foreach (var prod in products)
    {
        <div class="card">
            <img class="card-img-top" src="~/Images/@*@(Model.DrinkName)*@.jpg" alt="@*@(Model.DrinkName)*@" />
            <div class="card-body">
                <h5 class="card-text">@*@(Model.SizeName) @(Model.DrinkName)*@</h5>
                <h3>@(Model.Price)</h3>
                <p class="card-text">@*@(Model.DrinkDescription)*@</p>
            </div>
            <div class="card-footer">
                <button data-id-product class="btn btn-orange">Order<i class="fa fa-coffee"></i></button>
            </div>
        </div>
    }
</div>