
@page
@model ConfirmEmailModel

@{
    if (this.User.IsInRole("Employee"))

    { Layout = "~/Views/Shared/_EmployeeLayout.cshtml"; }
}
@{
    ViewData["Title"] = "Confirm email";
}
<br />
<br />
<h1>@ViewData["Title"]</h1>
<br />
<br />


<h2>@Model.StatusMessage</h2>

<br />
<br />
<div>
   <a class="h3" asp-area="Identity" asp-page="/Account/Login">Continue To Login</a>
</div>

@if (this.User.IsInRole("Employee"))
{

    <a href="~/Employee/EmployeeView"> Return to Employee View</a>
}